mixin input()
  input(class='bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500')&attributes(attributes)

mixin checkbox()
  input(
    class='w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800'
    type='checkbox' 
  )
mixin label()
  label(class='block mb-2 text-sm font-medium text-gray-900 dark:text-white')&attributes(attributes)
    if block
      block

mixin login-form()
  div
    +label(for=username) Username
    +input#username(type='text' name='username' required)
  div
    +label(for=password) Password
    +input#password(type='password' name='password' placeholder='••••••••')
  div(class='flex items-center justify-between')
      div(class='flex items-start')
          div(class='flex items-center h-5')
            +checkbox#remember(aria-describedby='remember',required)
          div(class='ml-3 text-sm')
            label(for='remember',class='text-gray-500 dark:text-gray-300') Remember me
  //-
    <a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
  button(type='submit',class='w-full text-white bg-slate-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800') Sign in
  //-
    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
        Don’t have an account yet? <a href="#" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
    </p>

