extends ../layout.pug

include includes.pug
include ../headings.pug

block content
  div.w-full.m-auto.flex.flex-col.items-center
    div(class="my-4 font-bold text-xl dark:text-white")
      | The HTMX Experience
    +box()
      div(class='p-6 space-y-4 md:space-y-6 sm:p-8')
        +h1().text-center Login to Jabber
        include ./login-form.pug
