mixin h1()
  h1(
    class='text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-4xl dark:text-white'
  )&attributes(attributes)
    block

mixin h2()
  h2(
    class='text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white'
  )&attributes(attributes)
    block



