doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title HTMX Learning Test
    link(href="/styles/style.css", rel="stylesheet")
    script(
      src="https://unpkg.com/htmx.org@2.0.3" 
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" 
      crossorigin="anonymous"
    )

  body.bg-slate-200
    .h-screen.flex.flex-col
      header.bg-slate-600.text-white.p-4
        | Hello HTMX

      main#main.flex-grow(hx-swap-oob='true')
        block content

    script
      | document.body.addEventListener('htmx:beforeSwap', function(evt) {
      |  // Allow 422 and 400 responses to swap
      |  // We treat these as form validation errors
      |  if (
      |     // evt.detail.xhr.status === 422 || 
      |     evt.detail.xhr.status === 400
      |  ) {
      |    evt.detail.shouldSwap = true;
      |    evt.detail.isError = false;
      |  }
      | });

