doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title HTMX Learning Test
    link(href="./styles/style.css", rel="stylesheet")
  body
    h1.text-xl Error
    pre
      code
        = err.toString()

